extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        
       
        
        h1 #{project.project_name}

        
        p #{project.description}

      .project-tech-links-box.box
        h6 Technologies
        ul

         
        each project_tech in project.technologies
          li= project_tech
          

        
        a.btn-link(href=`${project.live_link}`) Live Demo
        a.btn-link(href=`${project.github_link}`) GitHub Repo

    .project-img-box.box

      
      img.project-img(src=`${project.images_urls[1]}`, alt='Project Photo 1')
      img.project-img(src=`${project.images_urls[2]}`, alt='Project Photo 2')
      img.project-img(src=`${project.images_urls[3]}`, alt='Project Photo 3')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
